<h1>Login</h1>

<form action="<%= session_url %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    id=""
    value="<%= form_authenticity_token %>">

  <label for="user_email">Email</label>
  <input
    type="text"
    name="user[email]"
    id="user_email">

  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password" value="">
</label>

  <input type="submit" value="Sign In">
</form>

<%= link_to "Sign up!", new_user_url %>
<!-- This link may or may not work, depends on my routes -->
