/*
 * This is a manifest file that'll be compiled into application.css which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory lib/assets/stylesheets vendor/assets/stylesheets
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .example-appear {
   opacity: 0.01;
 }

 .example-appear.example-appear-active {
   opacity: 1;
   transition: opacity .5s ease-in;
 }

  .example-leave {
     opacity: 1;
     height: 16px;
     transition: opacity 500ms ease-out,
                 padding 500ms ease-out,
                 height 500ms ease-out;
 }
 .example-leave.demo-leave-active {
     opacity: 0;
     height: 0px;
     padding: 0px 10px !important;
 }

 html {
   background-color: green;
 }
 .body{
    position: relative;
    margin: 0 auto;
    background: #fff;
    width: 900px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    top: 0px;

 }
 .body:after {
   content: "";
   display: block;
   clear: both;
 }
 
 .feed{
   width: auto;
   float: left;
   margin-top: 65px;
 }
 .feed:after {
   content: "";
   display: block;
   clear: both;
 }
 .feed-new-post{
   z-index: 1;
   display: block;
   margin-left: 288px;

 }


 .feed-post{

   margin-left: 150px;
   padding: 3px;
   width: 500px;
   display: block;
   background-color: white;
 }
 .feed-post-body{
   border-style: solid;
   border-radius: 5px;
   border-width: 1.5px;
   padding: 5px;
   width: 300px;
   margin-top: 5px;
 }

 .post-user-name{
   text-decoration: underline;

 }
 .post-comment{
   border-style: solid;
   border-radius: 5px;
   border-width: 1px;
   padding: 5px;
   width: 300px;
   margin-left: 15px;
 }
 .feed-post-body{
   margin-left: 10px;
 }

 .profile-friends-pane{
   height: auto;
   width: auto;
   background-color: cornflowerblue;
   border: 3px solid black;
 }
 .profile-images-pane {
   margin: 30px auto;
   width: auto;
   border: 3px solid black;
   float: left;
   display: block;
   height: auto;
   background-color: red;

 }
 .profile-images-body{
   height: auto;
   width: auto;
   background-color: cornflowerblue;
   padding: 10px;
 }

 .profile-images-body:after {
   content: "";
   display: block;
   clear: both;
 }


.pictures-in-pane {
  float: left;
  width: 50px;
  height: 50px;
  border: 5px solid black;
  margin: 5px;
  position: relative;
  background: gray;
  cursor: pointer;
}


.header-bar > div {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.header-bar{
  position: fixed;
  width: 894px;
  height: 50px;
  background-color: green;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 3px;
  padding-bottom: 5px;
  top: 0px;
  z-index: 1;

}

.header-bar-go-home{


}





/*.header-bar-search-bar:focus > LI:only-child {
  display: block;
}*/

/*not really centering*/

.header-bar:after {
  content: "";
  display: block;
  clear: both;
}


.header-bar-signout-button {
  right: 5px;
  float:left;
  padding-left: 300px
}


.search-list{
  position: relative;
  visibility: hidden;
  background-color: white;
  width: 90px;
  color: black;
  border-left: 2px;
  border-bottom: 2px;
  border-right: 2px;
  border-color: gray;
  border-radius: 5px;

  z-index: 2;
}

.search-list-visible{
  visibility: visible;
}

.search-list-hidden{
  visibility: hidden;
}
.header-bar-search-bar .search-list-hidden {
  display: none;
}

.header-bar-search-bar .search-list-shown {
  display: block;
}

.user-profile{
  width: 900px;
  float: left;
  margin-top: 65px;

}
.user-profile:after {
  content: "";
  display: block;
  clear: both;
}
.user-profile-content{
  width: 600px;
  float:left;
  border: 2px;
  border-color: black;
  padding: 10px;
}
.user-profile:after {
  content: "";
  display: block;
  clear: both;
}


.user-profile-info{
  border: 1px solid #ccc;
  width: 250px;
  float:left;
  margin-left: 20px;
  border-radius: 5px;
  border-color: grey;
  padding: 3px;

}
.user-profile-new-post{

  width: 500px;
  float:left;
  left: 300px;
  padding-left: 10px;
}

.post-seperator-black{
  background-color: black;
  height: 1px;
  width: auto;
}
.post-seperator-white{
  opacity: 0;
  height: 2px;
  width: auto;
  margin: 5px;
  background-color: blue;
}

.whole-post{
  padding-top: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1.5px;
  padding: 5px;
  margin-bottom: 13px;
  box-shadow: 10px 10px 5px grey;
}

.feed-post-new-comment{
  padding: 5px;
  padding-left: 10px;
}

.user-profile-picture-content{
  margin-left: 5px;
  width: auto;
}

.user-profile-picture-content:after {
  content: "";
  display: block;
  clear: both;
  width: auto;
}

.image-body-image{
  float: left;
  border: 5px solid black;
  margin: 5px;
  cursor: pointer;
  padding-bottom: 0px;
  margin-bottom: 0px;
}







.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-form {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 360px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
}

.modal-close:hover {
  color: #f00;
}

.modal-form > h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
}

.modal-form > p {
  margin: 0 0 20px 0;
}
