/*
 * This is a manifest file that'll be compiled into application.css which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory lib/assets/stylesheets vendor/assets/stylesheets
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   background-color: green;
 }
 .body{
    position: relative;
    margin: 0 auto;
    background: #fff;
    width: 900px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
 }

 .body:after {
   content: "";
   display: block;
   clear: both;
 }
 .feed{
   width: auto;
   float: left;

 }
 .feed:after {
   content: "";
   display: block;
   clear: both;
 }
 .feed-new-post{
   z-index: 1;
   display: block;
   margin-left: 288px;

 }


 .feed-post{
   border-style: solid;
   border-radius: 5px;
   border-width: 1.5px;
   margin-left: 150px;
   padding: 3px;
   width: 500px;
   display: block;
   background-color: white;
 }
 .feed-post-body{
   border-style: solid;
   border-radius: 5px;
   border-width: 1.5px;
   padding: 5px;
   width: 300px;
   margin-top: 5px;
 }

 .post-user-name{
   text-decoration: underline;

 }
 .post-comment{
   border-style: solid;
   border-radius: 5px;
   border-width: 1px;
   padding: 5px;
   width: 300px;
   margin-left: 15px;
 }
 .feed-post-body{
   margin-left: 10px;
 }

 .profile-friends-pane{
   height: auto;
   width: auto;
   background-color: cornflowerblue;
   border: 3px solid black;
 }

 .profile-images-pane{
   height: auto;
   width: auto;
   background-color: cornflowerblue;
 }
 .profile-images-body{
   height: auto;
   width: auto;
   background-color: cornflowerblue;
 }

 .profile-images-pane {
  margin: 30px auto;
  width: auto;
  border: 3px solid black;
  float: left;
  display: block;

}

.pictures-in-pane {
  float: left;
  width: 50px;
  height: 50px;
  border: 5px solid black;
  margin: 5px;
  position: relative;
  background: gray;
  cursor: pointer;
}


.header-bar > div {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.header-bar{
  width: auto;
  height: 50px;
  background-color: green;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  padding: 3px;
  padding-bottom: 5px;
  bottom: 30px;
}

.header-bar-go-home{


}

.header-bar-search-bar .search-list-hidden {
  display: none;
}

.header-bar-search-bar .search-list-shown {
  display: block;
}



/*.header-bar-search-bar:focus > LI:only-child {
  display: block;
}*/

/*not really centering*/

.header-bar:after {
  content: "";
  display: block;
  clear: both;
}


.header-bar-signout-button {
  right: 10px;
  float:left;
  padding-left: 300px
}


.search-list{
  visibility: hidden;
  background-color: red;
  width: 90px;
  z-index: 2;
}

.search-list-hidden{
  visibility: hidden;
}

.user-profile{
  width: 900px;
  float: left;

}
.user-profile:after {
  content: "";
  display: block;
  clear: both;
}
.user-profile-content{
  width: 600px;
  float:left;
  border: 2px;
  border-color: black;
}
.user-profile:after {
  content: "";
  display: block;
  clear: both;
}


.user-profile-info{
  border: 1px solid #ccc;
  width: 250px;
  float:left;
  margin-left: 20px;

}
.user-profile-new-post{
  border: 1px solid #ccc;
  width: 500px;
  float:left;
}

.post-seperator-black{
  background-color: black;
  height: 1px;
  width: auto;
}
.post-seperator-white{
  opacity: 0;
  height: 2px;
  width: auto;
  margin: 5px;
  background-color: blue;
}

.whole-post{
  padding-top: 5px;
}

.search-list-visible{
  visibility: visible;
  background-color: red;

  float:none;
  z-index: 2;
}



.feed-post-new-comment{
  padding: 5px;
  padding-left: 10px;
}
